.categories {
  &__item {
    display: block;
    background-color: $white;
    margin-bottom: 30px;
    @include box-shadow(0, 10px, 40px, -20px, transparentize($black, 0.8));
    @include on-event() {
      .categories__item {
        &__content {
          &__title {
            &:after {
              background-color: $black;
              color: $white;
            }
          }
        }
      }
    }
    &__image {
      margin-bottom: 0;
    }
    &__content {
      padding: 20px;
      &__title {
        position: relative;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0;
        &:after {
          content: '\f054';
          font-family: FontAwesome;
          position: absolute;
          right: 0;
          top: 0;
          width: 24px;
          height: 24px;
          border: 2px solid $black;
          font-size: 12px;
          text-align: center;
          line-height: 22px;
        }
      }
    }
  }
}

.products {
  &__item {
    position:relative;
    margin-bottom: 30px;
    a {
      display: block;
      background-color: $tertiary-color;
      @include on-event {
        text-decoration: none;
        .projects__item__image__inner {
          transform: scale(1.2);
        }
      }
    }
    &__image {
      overflow: hidden;
      height: 125px;
      @include break-up(sm) {
        height: 150px;
      }
      @include break-up(md) {
        height: 175px;
      }
      @include break-up(lg) {
        height: 200px;
      }
      @include break-up(xl) {
        height: 225px;
      }
      &__inner {
        height: 100%;
        width: 100%;
        transition: all 0.5s ease;
        @include background-cover(center, center);
        &.no-cover {
          -webkit-background-size: auto;
          -moz-background-size: auto;
          -o-background-size: auto;
          background-size: 100px;
        }
      }
    }
    &__title {
      position: absolute;
      width: 100%;
      bottom:0;
      font-size: remy(17);
      font-weight: 600;
      text-transform: uppercase;
      padding: 20px;
      margin-bottom: 0;
      color: $white;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,1) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%,rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    }
    &__specs {
      @include clearfix;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          font-size: remy(16);
          margin-bottom: 10px;
          i {
            width: 20px;
            text-align:center;
            margin-right:10px;
          }
        }
      }
    }
  }
  .sidebar {
    &__filter {
      padding:0 15px;
      border-bottom:1px solid transparentize($black, 0.9);
      margin-bottom: 15px;
      &:first-child {
        padding-top: 15px;
      }
      &__title {
        font-size: 1rem;
      }
      .facetwp-facet {
        margin-bottom: 10px;
        font-size: remy(16);
      }
      .facetwp-checkbox {
        background-position-y: 3px;
      }
      .facetwp-counter {
        font-size: remy(14);
      }
    }
  }
}

/* Single product */
.product {
  &__title {
    font-size: remy(30);
    margin-bottom: 20px;
  }
  &__image {

  }
  &__image-gallery {
    &__item {
      display: block;
      margin-bottom: 30px;
    }
  }
  &__usps {
    margin: 30px 0;
    &__title {
      font-size: remy(14);
      padding: 3px 0;
      color: $primary-color;
      i {
        margin-right: 5px;
        color: #00b900;
      }
    }
  }
  &__customer-support {
    background-color: $gray-3;
    padding: 30px;
    .nav-item {
      margin-bottom: 10px;
    }
    .nav-link {
      position: relative;
      padding: 0 0 0 30px;
    }
    &__blocktitle {
      margin-bottom: 30px;
    }
    &__title {
      font-weight: bold;
      display: block;
    }
    &__text {

    }
    &__icon {
      position: absolute;
      top: 4px;
      left: 0;
      width: 18px;
      text-align: center;
    }
  }
}